[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule ".local/lib/livestreamer"]
	path = .local/lib/livestreamer
	url = git@github.com:chrippa/livestreamer.git
[submodule ".local/lib/turses"]
	path = .local/lib/turses
	url = git@github.com:alejandrogomez/turses.git
[submodule ".local/lib/gcalccli"]
	path = .local/lib/gcalccli
	url = git@github.com:insanum/gcalcli.git
[submodule ".local/lib/dompdf"]
	path = .local/lib/dompdf
	url = git@github.com:dompdf/dompdf.git
[submodule ".local/lib/scruffy"]
	path = .local/lib/scruffy
	url = https://github.com/aivarsk/scruffy.git
[submodule ".local/lib/tig"]
	path = .local/lib/tig
	url = git://github.com/jonas/tig.git
[submodule ".local/lib/youtube-viewer"]
	path = .local/lib/youtube-viewer
	url = https://github.com/trizen/youtube-viewer.git
[submodule "/home/visor/.local/lib/multi-mechanize"]
	path = /home/visor/.local/lib/multi-mechanize
	url = https://github.com/cgoldberg/multi-mechanize.git
[submodule ".local/share/FiraCode"]
	path = .local/share/FiraCode
	url = https://github.com/tonsky/FiraCode.git
