[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "/home/visor/.local/lib/youtube-viewer"]
	path = /home/visor/.local/lib/youtube-viewer
	url = git@github.com:trizen/youtube-viewer.git
[submodule ".local/lib/livestreamer"]
	path = .local/lib/livestreamer
	url = git@github.com:chrippa/livestreamer.git
[submodule ".local/lib/turses"]
	path = .local/lib/turses
	url = git@github.com:alejandrogomez/turses.git
