[Desktop Entry]
Version=1.0
Type=Application
Name=Feh
Comment[ru]=Минималистичный просмотрщик изображений
Exec=feh-browser %f -xd -.
Terminal=false
NoDisplay=true
Categories=Office;Viewer;
